#thumbs-up {
  width: 130px;
  height: auto;
  position: fixed;
  top: -100%;
  right: -100%;
  left: -100%;
  bottom: -100%;
  margin: auto;
  animation-name: pop;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes pop {
  0% {
    transform: scale(0);
    visibility: hidden;
  }

  80% {
    transform: scaleX(3) scaleY(3);
    visibility: visible;
  }

  100% {
    transform: scaleX(0) scaleY(0);
    visibility: hidden;
  }
}
